[build]
  command = "cd FourPaws/frontend && npm install && npm run build"
  publish = "FourPaws/frontend/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

